<div class="blog-container">

    
    <div class="card-header d-flex justify-content-center">
        <h2 id="title">        
            The Tech Blog
        </h2>
    </div>
    <div class="bgimg d-flex justify-content-center">
        <img src="/images/pexels-luis-quintero-2148220.jpg" alt="laptop"> 
    </div>
    <div>
        <ul>
            
        </ul>
    </div>
</div>

<script src="./js/login.js"></script>